*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "poppins";
}
header{
    z-index: 999;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition:0.5s ease;
}

header .brand{
    color:white;
    font-size: 1.5em;
    font-weight: 700; 
    text-decoration: none;
}
header .avigation{
    position:relative;
}
header .navigation .navigation-items a{
    position:relative;
    text-decoration: none;
    color:orangered;
    font-size:1.3em;
    margin: 1.7em;
    transition:0.3s ease;
}
header .navigation .navigation-items a:before{
    content:'';
    position:absolute;
    background:black;
    width:0;
    height:3px;
    bottom:0;
    left:0;
    transition:0.3s ease;
}
header .navigation .navigation-items a:hover:before{
    width:100%;
}
section{
    padding:100px 200px;
}
.home{
    position:relative;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    flex-direction:column;
    background:#2696E9;
}
.home .content{
    z-index:888;
    color:whitesmoke;
    width:70%;
    margin-top:50px;
}
.home .content h1{
    font-size:4em;
    font-weight:900;
    text-transform:uppercase;
    letter-spacing:5px;
    line-height: 75px;
    margin-bottom: 40px;
}
.home .content h1 span{
    font-size:1.2em;
    font-weight:600;
}
.home .content p{
    margin-bottom:65px;
    font-weight: 700;
    font-size: 1.2em;
}
.home .content a{
    background:rgb(119, 159, 157);
    padding: 15px 35px;
    color:black;
    font-size:1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius:2px;
    transition:0.3s ease;
}
.home video{
    z-index:000;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}